body {
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255);
    background-color: rgba(0,0,0,.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
/*--Formatting for Edit and Delete Buttons in Forms--*/
.btn-small {
    line-height: 14px;
    padding: 0.5em;
    
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
}

.material-icons {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    color: black;
}
.task-header h5 {
    color: black;
    margin: 0 auto;
}
/*---GetTrails/GetMembers---*/
.collapsible-header {
    display: flex;
    align-items: center;
}
.collapsible-header div {
    flex: 1;
}
#trails {
    text-align: center;
    margin-top: 20px;
}
.center, .center-align {
    text-align: center;
    margin-left: 40px;
    color: black;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
}
/*---Nav Bar---*/
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 5px;
    cursor: pointer;
}
nav ul {
    margin-top: 35px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
    margin-top: 30px;
}

.side-nav li>a {
   color: rgba(0,0,0,0.87);
   display: block;
   font-size: 40px;
   font-weight: 400;
   height: 48px;
   line-height: 48px;
   padding: 20px 32px;
   margin-top: 20px;
}
/*--Add Trail--*/
.container .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
    background: aliceblue;
    color: black;
}
/*-----Add Member------*/
.form-size {
    margin-bottom: 130px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: auto;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
/*---Home---*/
.teal.lighten-2 {
    background-color: #4db6ac !important;
    color: white;
    margin-top: 20vh;
}

/*---base.html---footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ee6e73;
  color: white;
  text-align: center;
  height: 150px;
}
.fa {
    font-size: 60px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.footer-title{
    margin: 0;
}

/*--Responsive Design--*/
@media only screen and (min-width: 0){
    html {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 160px;
    line-height: 64px;
    font-size: larger;
    } 
}