body {
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255);
    background-color: rgba(0,0,0,.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

/*--Formatting for Edit and Delete Buttons in Forms--*/
.btn-small {
    line-height: 14px;
    padding: 0.5em;
    
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
}

.material-icons {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    color: black;
}
.task-header h5 {
    color: black;
    margin: 0 auto;
}
/*---GetTrails/GetMembers---*/
.collapsible-header {
    display: flex;
    align-items: center;
}
.collapsible-header div {
    flex: 1;
}
#trails {
    text-align: center;
    margin-top: 20px;
}
.center, .center-align {
    text-align: center;
    margin-left: 40px;
    color: black;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    font-size: 2rem;
}
/*---Nav Bar---*/
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 5px;
    cursor: pointer;
    margin-top: 30px;
}
nav ul {
    margin-top: 35px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
    margin-top: 40px;
}

.side-nav li>a {
   color: rgba(0,0,0,0.87);
   display: block;
   font-size: 40px;
   font-weight: 400;
   height: 48px;
   line-height: 48px;
   padding: 20px 32px;
   margin-top: 20px;
}
/*--Add Trail--*/
.container .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
    background: aliceblue;
    color: black;
}
/*-----Add Member------*/
.form-size {
    margin-bottom: 130px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: auto;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
/*---Home---*/
.teal.lighten-2 {
    background-color: #4db6ac !important;
    color: white;
    margin-top: 20vh;
}


/*---base.html---footer*/
footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(238, 110, 115);
  color: rgb(8, 8, 8);
  text-align: center;
  height: 90px;
  
}
footer ul li {
    display: inline-block;
    top: 20px;
    padding-top: 20px;
    padding-right: 40px;
}
#ul-links{
    margin-top: 0px;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding:12px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}



/*--Responsive Design--*/
@media only screen and (min-width: 0){
    html {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 160px;
    line-height: 64px;
    font-size: 1rem;
    } 
}
@media only screen and (min-width: 1024px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 160px;
    line-height: 64px;
    font-size: 1rem;
    
    } 
}

@media only screen and (min-width: 1024px){
    ul:not(.browser-default)>li {
        list-style-type: none;
        font-size: 0.9rem;
        line-height: 25px;
        
    }
}
@media only screen and (min-width: 0) {
    ul:not(.browser-default)>li {
        list-style-type: none;
        font-size: 1rem;
        line-height: 25px;
    }
}

 @media only screen and (min-width: 768px) {
    ul:not(.browser-default)>li {
        list-style-type: none;
        font-size: 1.5rem;
        line-height: 40px;
    }
}
 @media only screen and (min-width: 1024px) {
    ul:not(.browser-default)>li {
        list-style-type: none;
        font-size: 0.9rem;
        line-height: 25px;
    }
} 

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4db6ac;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 0;
}

.dropdown-content {
    margin: 0;
    max-height: 650px;
    overflow-y: auto;
    opacity: 1;
    will-change: width, height;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 211px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #4db6ac;
}
/* Contact Us */

.form-control {
    display: block;
    width: 50%;
    height: 100px;  
}

.signup-form{
  margin-top: 50px;
  color: white;
  max-width: 100%;
  padding-bottom: 100px; 
 
}
.form-group {
    margin-bottom: 40px;
}
.signup-form  h2 {
color: rgb(8, 8, 8);
  margin-bottom: 100px;
  padding-top: 20px;
}
form.signup-form {
    margin-left: 15%;
}
.signup-form p {
    font-size: 25px;
}
.text-input{
  color:white;
  width: 100%;
  font-weight: normal;
  margin: 5px 0 20px 0;
  border: 1px solid  white;
  border-radius: 2px;
  height: 5rem;
  
}

label {
    font-size: 1.5rem;
    color: white;
}
.join-button{
  margin-top: 20px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color:#4db6ac;
  color:white;
  display: block;
  
}
