{% extends 'base.html' %}
{% block content %}
<body background="{{ url_for('static', filename='img/mtb.jpg') }}">
<h1 id="trails">Trails</h1>
    <ul class="collapsible" data-collapsible="accordion">
	{% for trail in trails %}
	<li>
		<div class="collapsible-header" id="form-color">
			<div class="col s3 center-align">
				<i class="material-icons">expand_more</i>
				<a href="{{url_for('edit_trail', trail_id=trail._id)}}"class="waves-effect waves-light btn btn-small">Edit</a>
                <a href="{{url_for('delete_trail', trail_id=trail._id)}}" class="waves-effect waves-light btn btn-small red">Delete</a>
			</div>
			<div class="task-header col s9 center-align">
                    <h5><strong>{{trail.name_of_trail}}</strong></h5>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                <ul>
                <li><strong>Start Point: </strong>{{ trail.start}}</li>
                    <br>
                    <li><strong>End Point: </strong>{{ trail.end}}</li>
                    <br>
                    <li><strong>Description: </strong>{{ trail.description}}</li>
                    <br>
                    <li><strong>Dificulty: </strong>{{ trail.dificulty}}</li>
                    <br>
                    <li><strong>Length: </strong>{{ trail.length}}</li>
                    </ul>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
